body{
  background-color: #ffffff;
}

#categoryOnly {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.catSelection {
  padding: 20px;
  width: 420px;
  height: 130px;
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #002a89;
  color: #ffffff;
  text-shadow: 2px 2px black;
  font-family: Helvetica;
}

#questionOnly {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.questionSelection {
  width: 400px;
  height: 300px;
  border: 2px solid black;
  text-align: center;
  padding: 15px;
  font-size: 1.2rem;
  position: absolute;
  top: 10%;
  left: 30%;
  background-color: #002a89;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  font-family: Helvetica;
}

.difficulty {
  color: #d79d65;
}

.score {
  position: absolute;
  top: 410px;
  left: 50%;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Helvetica;
  border: 2px solid black;
  width: 200px;
  height: 50px;
  background-color: #002a89;
  font-size: 2.5rem;
  text-align: center;
}

.questionValue {
  font-size: 2rem;
  color: #d79d65;
  padding: 10px;
}

img {
  width: 52%;
}

@font-face {
  font-family: 'daniel';
  src: url('daniel/daniel.ttf');
}

.name input {
  border: 1px solid black;
  font-size: 2.2rem;
  padding-top: 10px;
  background-color: #002a89;
  text-align: center;
  color: white;
  font-family: 'daniel';
  position: absolute;
  top: 480px;
  left: 50%;
  width: 200px;
  height: 90px;
}
